#signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;


    .container {
        width: 100%;
        max-width: 400px; // Bredden på formuläret
        padding: 20px;

        form {
            span {
                color: red;
                margin-left: 10px;
            }
        }


        .input-group label, .checkbox-group label {
            display: block; // Placera labeln överst
            margin-bottom: 5px;
        }

        .input-group input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btn-theme-s {
            width: 100%;
        }

        #form-forgot-password {
            display: block;
            margin-top: 10px;
            text-align: center;
            padding: 1rem 0;
        }



        .checkbox-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            input[type="checkbox"] {
                margin-right: 10px;
                padding: 1rem;
            }

            label {
                margin: 0;
            }
        }
    }
}
