
@{
    ViewData["Title"] = "Ooops! Page was not found";
}
<section class="error-404">
    <div class="container">
        <div class="content">
            <img src="~/images/404.svg" />
            <h1></h1>
            <p></p>
        </div>
        <nav>
            <a class="btn-theme-s" asp-controller="Home" asp-action="Index">Go to homepage</a>
        </nav>
    </div>
</section>