
<section id="signup" class="signup">
    <div class="container">
        <form action="/Account/SignUp" method="post" novalidate>
            <h1>Create Account</h1>
            <p>Already have an account? <a href="/Account/SignIn">Sign in here</a>.</p>

            <div class="content">
                <div id="form-firstname" class="input-group">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname" required>
                </div>

                <div id="form-lastname" class="input-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="lastname" required>
                </div>

                <div id="form-email" class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div id="form-password" class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div id="form-confirm" class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>

                <div id="form-terms" class="checkbox-group">
                    <input type="checkbox" id="terms" name="terms" required>
                    <label for="terms">
                        <span>I agree to the <a href="/About/Terms">Terms</a> & <a href="/About/Conditions">Conditions</a>.</span>
                    </label>
                </div>

            </div>
            <button class="btn-theme-s" type="submit">Sign Up</button>
        </form>
    </div>
</section>